<html data-dpr="1" style="font-size: 49.6px;">

<head>
    <meta charset="utf-8">
    <title>今日头条</title>

    <link rel="stylesheet" type="text/css" href="https://s3b.pstatp.com/adstatic/resource/ad_wap/dist/1.0.17/static/style/ed.css">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="N1Mmy9oxtXl-osJ42t8eKkf6Gj3NdFPm9dYdSEb7GFc">
    <link rel="apple-touch-icon-precomposed" href="https://s3a.pstatp.com/image/toutiao_mobile/icon_180_1.png">
    <link rel="shortcut icon" href="https://s3b.pstatp.com/image/toutiao_mobile/short_cut_icon_1.png" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <meta property="qc:admins" content="137036576341176375">
    <meta name="baidu-tc-cerfication" content="f02c83ae32e698b1003fc31a62124a0b">
    <meta name="baidu-site-verification" content="OcFyAv2MOv">
    <meta name="360-site-verification" content="47aeb748c3c8384b89f75e48e2dc382c">
    <meta name="shenma-site-verification" content="fb9077aff6d33201126008a82a5a0113_1432698248">

    <meta name="pathname" content="usergrowth_mobile_detail">

    <script src="./way.js"></script>
    <link rel="stylesheet" href="https://s3a.pstatp.com/growth/mobile_detail/css/wap.0RSx8vsN.css">
    <link rel="stylesheet" href="https://s3b.pstatp.com/adstatic/resource/ad_wap/dist/1.0.17/static/style/ed.css">
        

    <script async="" src="https://s3.bytecdn.cn/ta/resource/v0/analytics.js?v=0.1.15"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <body class="
      page-detail
      detail--wap
      " style="font-size: 12px;">

        <div id="main">
            <div class="weixin-container">
                <article class="article padding-side">
                    <div class="article__header new-style-test-article__header">
                    <div id="News">
                        <h1 class="article__title">{{ title }}</h1>
                        <div class="new-style-test-article-author">
                            <span class="avatar new-style-test-avatar">
                                <img src="https://p3.pstatp.com/thumb/3538/9145332" class="avatar__image" style="transition: opacity 200ms ease; opacity: 1;">
                                <span class="avatar__mask"></span>
                            </span>
                            <span style="display: inline-block; margin-left: 10px;">
                                <div>
                                    <span class="new-style-test-article-author-name">{{ author }}</span>
                                    <img class="new-style-test-article-author-toutiaohao" src="https://s3b.pstatp.com/growth/mobile_detail/image/toutiaohao_tag.1vygyFaw.svg"
                                        style="transition: opacity 200ms ease; opacity: 1;">
                                </div>
                                <div>
                                    <span class="new-style-test-article-publish-time">{{ publish-time }}</span>
                                    <span class="dot"></span>
                                    <span class="new-style-test-article-comment">{{ comment }}</span>
                                </div>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="article__content" style="height: auto;">
                    </div id="content">
            </div>
            {{ content }}
            <!-- <div>
            <p>昨天下午，国台办主任张志军来到人民大学，看望在此任教、就读的台湾师生，了解他们的工作、学习与生活情况。</p>
            <p>长安街知事APP了解到，张志军此行拉开了国台办、海协会有关负责人2018年春节前慰问大陆台胞的序幕，他们将于近期分5路走访11个省区市。</p>
            <p class="img-wrapper-embedded" style="width: 100%; min-height: 382.59px;">
              <img src="https://p3.pstatp.com/large/594b00031059de9bfc79" img_width="800" img_height="654" inline="0" alt="部长连跑11省，为这件大事也是拼了"
                onerror="javascript:errorimg.call(this);" data-index="0" data-src="https://p3.pstatp.com/large/594b00031059de9bfc79"
                style="opacity: 1;">
            </p>
            <p class="pgc-img-caption">张志军与台生互动</p>
            <p>人民大学是今年国台办的第一站。张志军来到校园里、台生陆生混住宿舍、“拾光小屋”活动室等地，与台湾师生交流座谈。
              <br>
            </p>
            <p>“我今天特别想听听你们的真实想法，你们有哪些困扰？我们能帮你们解决哪些关切？”张志军说，两岸人民是骨肉同胞一家人，只要是对两岸同胞亲情福祉有利的事情，我们都会继续做好做实。</p>
            <p>与台湾师生座谈后，张志军表示感到很高兴，他们总体反映了近年来大陆出台的一系列便利台胞在大陆就业、生活和学习的措施，他们实际感受到了。当然也有一些政策措施还需要进一步普及。</p>
            <p>“希望台湾同胞能够在这里真正感受到两岸就是一家人，两岸一家亲。希望他们不仅在事业和学业上有所收获，也能够通过努力，为两岸关系的和平发展做出贡献。”</p>
            <p>有统计显示，目前大陆约有200万台胞。张志军走访人民大学后，还将前往上海、江苏、安徽等地。</p>
            <p>长安街知事APP记得，每年春节前，国台办与海协会都会到各地走访台胞，听取他们的意见，真实地了解台胞在大陆学习、生活、工作遇到的实际问题，为新一年对台政策的出台做一些准备工作。</p>
            <p>2015年春节前夕，国台办、海协会负责人分6路赴11个省市慰问台商、台生、大陆配偶等台胞群体。当年，海协会会长陈德铭先后到访苏州、上海等地考察调研，了解大陆台资企业如何适应新常态。</p>
            <p>除此之外，张志军还经常将台胞请到国台办“拜年”。去年1月26日，腊月二十六，但仍有一群为了梦想在北京打拼的台湾年轻人还没踏上返乡的路。这天下午，他们被张志军邀请来一起包饺子、贴春联，提前感受过年的气氛。</p>
            <p class="img-wrapper-embedded"
              style="width: 100%; min-height: 311.718px;">
              <img src="https://p3.pstatp.com/large/594c0002fb051a6cc6bf" img_width="554" img_height="369" inline="0" alt="部长连跑11省，为这件大事也是拼了"
                onerror="javascript:errorimg.call(this);" data-index="1" data-src="https://p3.pstatp.com/large/594c0002fb051a6cc6bf"
                style="opacity: 1;">
            </p>
            <p class="pgc-img-caption">陈德铭（右二）</p>
            <p>2013年3月，陈德铭卸任商务部部长，当年4月出任海协会会长。近五年来，陈德铭时常到各地调研台胞、台商、台企的现状。去年年底，陈德铭到江苏、江西两地调研海峡两岸交流情况，鼓励两岸三地经济文化大合作、大发展。
              <br>
            </p>
            <p>在刚刚过去的2017年，两岸关系形势更加复杂严峻。台湾当局拒不接受“九二共识”，放任纵容“去中国化”“渐进台独”活动，阻挠两岸交流合作。“台独”势力鼓噪“公投”“修宪”，挑动两岸敌意，威胁台海和平稳定，严重破坏两岸关系和平发展。</p>
            <p>在最近一次国台办例行新闻发布会上，发言人马晓光展望2018年的两岸关系时表示，两岸关系面临的复杂因素增多，风险挑战增大，但我们完全有信心、有能力应对挑战、把握方向，推动两岸关系继续克难前行。</p>
            <p>信心来自何处？马晓光直言，我们将坚持一个中国原则和“九二共识”，采取有力措施，坚决反对和遏制形形色色的“台独”分裂行径。加强与岛内认同“九二共识”、支持两岸关系和平发展的政党、团体和人士的交流对话，团结两岸同胞共同维护台海和平稳定。</p>
            <p>对两岸关系同样信心满满的，还有陈德铭，他在2018年新年贺词中有这样一段荡气回肠的阐述——</p>
            <p>两岸关系就像一条绵长大河，始于涓涓，成其浩荡，或平缓或湍急，或宽广或狭险，但千回百转，终归大海。时代律动波澜壮阔，复兴钟声江山回响……在两岸同胞共同努力下，两岸关系必将迎来激浊扬清、曙光重耀的一天，和平发展必将在新的历史起点开拓新的前景，奏响新时期团结两岸同胞共同奋斗的主旋律。</p>
            <p>正如他所说，国家统一、民族复兴的光明未来正大步走来！</p>
            <p>更多精彩内容，欢迎关注长安街知事APP</p>
          </div> -->
        </div>
        </article>
        </div>
        </div>
    </body>

</html>
